<div class="chartContainer">

    <div class="chartHeader">
        <select class="hoverEffectOne" name="" id="">
            <option value="year">سنويا</option>
            <option value="month">شهريا</option>
        </select>
        <div class="chartHeaderDate">
            <h5>احصائيات استخدام القسيمة</h5>
            <span> 05 يوليو , 2023 - </span>
            <span>اغسطس 05 , 2023</span>
        </div>
    </div>
    <div id="chart">
        <div id="chartCanvass"></div>
    </div>
    
</div>